/**
 * Basic website settings.
 *
 * E.x. font-family, etc...
 */

body {
    color: var(--font-primary-color);
    background-color: var(--background-secondary);
}

/**
 * AURAKA 點陣宋字型
 */
@font-face {
    font-family: 'Auraka';
    src: url('/fonts/Auraka.ttf');
}

/**
 * 蒙納繁圓點陣
 */
@font-face {
    font-family: 'MBitmapRoundHK';
    src: url('/fonts/MBitmapRoundHK-Light.otf');
}

/**
 * 國喬點陣字型
 */
@font-face {
    font-family: 'KC24M';
    src: url('/fonts/kc24m.ttf');
}

/**
 * Silver 點陣字型
 */
@font-face {
    font-family: 'Silver';
    src: url('/fonts/Silver.ttf');
}

/**
 * ZPIX 點陣字型
 */
@font-face {
    font-family: 'ZPIX';
    src: url('/fonts/zpix.woff2') format("woff2"),
        url('/fonts/zpix.woff') format("woff"),
        url('/fonts/zpix.ttf') format("truetype");
}

/**
 * 和田研細丸ゴシック
 */
@font-face {
    font-family: 'Timemachine Wa';
    src: url('/fonts/timemachine-wa.ttf');
}

/**
 * Cheek ふぉんと
 */
@font-face {
    font-family: 'CheekFont';
    src: url('/fonts/CheekFont-Regular.ttf');
}

/**
 * 清松手寫體1
 */
@font-face {
    font-family: 'JasonHandwriting1';
    src: url('/fonts/JasonHandwriting1.ttf');
}

/**
 * CJKFonts手寫4
 */
@font-face {
    font-family: 'CJKFonts Handingwriting4';
    src: url('/fonts/cjkfonts_handingwriting4.ttf');
}

/**
 * CJKFonts全瀨體
 */
@font-face {
    font-family: 'CJKFonts Allseto';
    src: url('/fonts/cjkFonts_allseto_v1.11.ttf');
}

/**
 * 標楷體
 */
@font-face {
    font-family: 'kaiu';
    src: url('/fonts/kaiu.ttf');
}

/**
 * 微軟正黑體
 */
@font-face {
    font-family: 'Microsoft JhengHei';
    src: url('/fonts/microsoft_jheng_hei.ttf');
}

/**
 * 裝甲明朝體
 */
 @font-face {
    font-family: 'SoukouMincho';
    src: url('/fonts/SoukouMincho.ttf');
}

/**
 * 極粗明朝體
 */
@font-face {
    font-family: 'MatissePro EB';
    src: url('/fonts/FOT-MatissePro-EB.otf') format('opentype');
}

/**
 * 台北黑體
 */
@font-face {
    font-family: 'Taipei Sans TC Beta';
    src: url('/fonts/TaipeiSansTCBeta-Bold.ttf');
}

/**
 * DOS
 * 只支援英文、數字
 */
@font-face {
    font-family: 'DOS';
    src: url('/fonts/Fixedsys500c.eot')  format("eot"),
         url('/fonts/Fixedsys500c.woff') format('woff'),
         url('/fonts/Fixedsys500c.ttf')  format('truetype'),
         url('/fonts/Fixedsys500c.svg')  format('svg');
}
